<div id="<%= dom_id film %>">
  <p>
    <strong>Name:</strong>
    <%= film.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= film.genre %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= film.director %>
  </p>

</div>
